/********************
        GENERAL
********************/
body {
    background: color-mix(in oklab, #212529 80%, #030332 20%);
    font-family: "Delius", cursive;
}

.main-nav {
    background-color: #322769;
}

#navbarToggler a:hover, #filters a:hover,
#navbarToggler a.active, #filters a.active {
    color: #FFF;
    background-color: #322769;
    border-color: #322769;
}

main {
    padding-left: 0;
}

.section-header-container {
    position: relative;
    font-family: "Almendra SC", serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #777;
    margin-bottom: 4rem;
}

.section-header{
    position: absolute;
    top: 0;
    left: 0;
}

.header-overlay {
    z-index: 9;
    margin: 8px 2px;
    font-weight: 700;
    color: #fff;
}

#skills {
    text-align: center;
}

#skills .card-title i {
    font-size: 7rem;
    color: darkslateblue;
}

.progress {
    height: 1.5rem;
}

/*********************
       ABOUT ME
/********************/
.about-me {
    background-color: #030332;
    color: #fff;
}

aside {
    padding-top: 55px;
}

aside .card {
    border-radius: 10px;
}

aside .card-title {
    font-family: "Borel", cursive;
}

aside a.card-link {
    color: #fff;
}

/*********************
        HERO
**********************/
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 75%;
}

.hero-image {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.carousel-caption{
    font-size: 2rem;
}

/*********************
        JOURNEY
**********************/
#resume {
    min-height: 80%;
}

#resume {
    background: #fff;
    overflow: auto;
}

#resume text {
    overflow: auto;
    fill: #000;
}

.tooltip h5 {
    font-size: 1rem;
    text-align: center;
}

.tooltip.custom-tooltip{
    border: 1px solid;
    border-radius: 5px;
    border-left: 5px solid darkmagenta;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    line-height: 1.3;
}

.tooltip-inner{
    max-width: 1000px;
    padding: 5px;
    background: #fff;
    color: black;
    text-align: left;
}

/******************
     PORTFOLIO
/*****************/
#filters {
    padding: 0;
    margin: 0 auto 20px auto;
    text-align: center;
}

#filters a {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

#filters a:first-child {
    margin-left: 0;
}

#filters a:last-child {
    margin-right: 0;
}

#project-grid {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -10px;
}

#project-grid .grid-item {
    padding: 0 0 10px 10px;
    width: 33.3333%;
}

.grid-item {
    width: 50%;
    float: left;
    margin: 0;
}

.grid-item > a {
    position: relative;
    display: block;
    overflow: hidden;
}

.project-img {
    position: relative;
    overflow: hidden;
}

.project-img img {
    display: block;
    overflow: hidden;
    width: 100%;
}

.project-img:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.grid-body {
    width: 100%;
    padding: 0 20px;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    text-align: center;
    overflow: hidden;
}

.grid-body h5 {
    font-size: 3rem;
    color: #fff;
    margin: 0 0 6px;
}

.grid-item:hover .project-img:after {
    background: rgba(0, 0, 0, 0.6);
}

.grid-item:hover .project-img > img {
    -webkit-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}

.grid-item:hover .grid-body {
    bottom: 50%;
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: #fff;
}

.project-grid .grid-item:hover .project-img:after {
    background: rgba(255, 255, 255, 0.8);
}

.project-grid p {
    color: #fff;
}

.sliding-portfolio .grid-item {
    width: 100%;
}

/******************
        MEDIA
/*****************/

@media (max-width: 575px) {
    #filters a {
        font-size: 14px;
        margin: 0 0 10px 0;
    }

    svg text.label {
        fill: #000;
        font-size: 10px;
    }
}

@media (min-width: 576px) {
    aside {
        position:fixed;
    }

    #skills {
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .hero-caption {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .carousel-caption {
        bottom: 20%;
    }
}

@media (min-width: 768px) {
   /* #skills {
        margin-bottom: 8rem;
    }*/

    .hero-caption {
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    .carousel-caption{
        bottom: 40%;
    }

    svg .label {
        font-size: 1rem;
    }
}